@*@model IEnumerable<Vaago.Models.Chef>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<section>
    <div>
        <span class="page-title">Reservations</span>
        <hr />
    </div>
    <div class="maincard-cont">
        <div style="text-align: start; width: 95%">
            <button class="btn btn-danger delete-button">Delete Reservation</button>
        </div>
        <hr class="thin-hr" />
        <div class="table-div">
            <table class="table table-striped  admintable">
                <thead class="bg-dark text-white">*@
                   
                  @*<tr>*@       @*<th><input type="checkbox" /></th>*@
                        @*<th>reserveID</th>
                        <th>Reservation_Number </th>
                        <th>byName</th>
                        <th>byEmail</th>
                        <th>byContact</th>
                        <th>reserveDateTime</th>
                        <th>eventType</th>
                        <th>byMessage</th>
                        <th>Type</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        if (Model == null)
                        {
                            <tr></tr>
                        }
                        else
                        {
                            foreach (var item in Model)
                            {*@
                               @* <tr>*@
                                    @*<th><input type="checkbox" /></th>*@
                                    @*<td>@item.Chef_ID</td>
                                    <td>@item.Chef_Name</td>
                                    <td>@item.Chef_Email</td>
                                    <td>@item.Chef_Contact</td>
                                    <td>@item.Msg_Body</td>*@
                                   @*<td style="vertical-align: bottom;">
                                            <label class="checkbox-container">
                                                @Html.CheckBoxFor(x => item.IsSelectedForDeletion, new { @class = "delete-checkbox" })
                                                <span class="checkmark"></span>
                                            </label>
                                        </td>*@

                                @*</tr>
                            };
                        }
                    }


                </tbody>
            </table>
        </div>

    </div>
</section>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
   $(document).ready(function () {*@
    @*// AJAX DELETE REQUEST
       $(".delete-button").click(function () {
        var itemsToDelete = [];

        // Iterate over the checked checkboxes and collect the item IDs
        $(".delete-checkbox:checked").each(function () {
            var itemID = $(this).closest("tr").find("td:first-child").text();
            console.log("itemID: " + itemID); // Debugging statement
            itemsToDelete.push(parseInt(itemID, 10));
        });

        console.log("itemsToDelete: ", itemsToDelete); // Debugging statement

        if (itemsToDelete.length > 0) {
            // Send the AJAX request to delete the selected items
            $.ajax({
                url: '@Url.Action("DeleteReservations", "AdminReservation")',
                type: 'POST',
                dataType: 'json',
                data: JSON.stringify({ items: itemsToDelete }),
                contentType: 'application/json',
                success: function (response) {
                    if (response.success) {
                        // Handle success, such as displaying a success message or refreshing the data grid
                        alert("Items deleted successfully.");
                        location.reload();
                        // Refresh the data grid view or perform any other necessary actions
                    } else {
                        // Handle error, such as displaying an error message
                        alert("An error occurred while deleting items.");
                    }
                },
                error: function () {
                    // Handle error, such as displaying an error message
                    alert("An error occurred while deleting itemssss.");
                },
                complete: function () {
                    console.log(itemsToDelete);
                }
            });
        } else {
            alert("Please select items to delete.");
        }
    });
});

</script>

<style>

    .table-div {
        overflow: hidden;
        width: 100%;
        margin-left: -10px;
        padding-right: 30px;
    }

    .checkbox-container {
        display: block;
        position: relative;
        padding-left: 25px;
        margin-bottom: 12px;
        cursor: pointer;
        font-size: 18px;
        user-select: none;
    }

        .checkbox-container input {
            position: absolute;
            opacity: 0;
            cursor: pointer;
            height: 0;
            width: 0;
        }

    .checkmark {
        position: absolute;
        top: -10px;
        left: 10px;
        height: 18px;
        width: 18px;
        background-color: #eee;
    }

    .checkbox-container:hover input ~ .checkmark {
        background-color: #ccc;
    }

    .checkbox-container input:checked ~ .checkmark {
        background-color: #2196F3;
    }

    .checkmark:after {
        content: "";
        position: absolute;
        display: none;
    }

    .checkbox-container input:checked ~ .checkmark:after {
        display: block;
    }

    .checkbox-container .checkmark:after {
        left: 6px;
        top: 2px;
        width: 5px;
        height: 10px;
        border: solid white;
        border-width: 0 2px 2px 0;
        transform: rotate(45deg);
    }
</style>*@




@*      public int reserveID { get; set; }
    public string Reservation_Number { get; set; }
    public string byName { get; set; }
    public string byEmail { get; set; }
    public string byContact { get; set; }
    public Nullable<int>
    numberOfPersons { get; set; }
    public string reserveDateTime { get; set; }
    public string eventType { get; set; }
    public string byMessage { get; set; }*@
